__pycache__

QRCode_Generator/QRCodes/
QRCode_Generator/__pycache__

Certificate_Generator/tmp/
Certificate_Generator/Generated_Certificates*
Certificate_Generator/Certificate_Template/*
Certificate_Generator/Wordlist/*
Certificate_Generator/__pycache__

Email_Sender/__pycache__
Email_Sender/Spreadsheet/*
Email_Sender/Attachments/*
Email_Sender/email_log.txt
Email_Sender/body_template.html

Certificate_Email_Automation/tmp/
Certificate_Email_Automation/Generated_Certificates*
Certificate_Email_Automation/Certificate_Template/*
Certificate_Email_Automation/Wordlist/*
Certificate_Email_Automation/Spreadsheet/*
Certificate_Email_Automation/tosend.csv
Certificate_Email_Automation/gen_certs_dir_path.txt
Certificate_Email_Automation/email_log.txt
Certificate_Email_Automation/body_template.html

Utilities/__pycache__