QRCode_Generator/QRCodes/
Certificate_Generator/tmp/
Certificate_Generator/Generated_Certificates*
Certificate_Generator/Certificate_Template/*
Certificate_Generator/Wordlist/*
Certificate_Generator/__pycache__
Email_Sender/__pycache__
Email_Sender/Attachments/*
Email_Sender/email_log.txt
Email_Sender/gmail_app_password.txt
New_Folder/output_dir_path.txt
New_Folder/tmp/
New_Folder/Generated_Certificates*
New_Folder/Certificate_Template/*
New_Folder/Wordlist/*
New_Folder/Spreadsheet/*
New_Folder/email_log.txt
New_Folder/tosend.csv
New_Folder/gmail_app_password.txt